<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Pharmacy POS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <!-- login contents -->
    <div id="contents">
      <header>
        <h4 id='header-title'>Register New User</h4>
        <button class="btn-logout" id="logout">
          Logout<i class="fas fa-sign-out-alt"></i>
        </button>
      </header>
      <!-- dynamic contents -->
    </div>
    <!-- main menu -->
    <div id="main-container" class="main-container">
      <div class="container">
        <div class="row my-1">
          <div class="col menu-item card mx-1">
            <div class="card-body" id="register">
              <i class="fas fa-key"></i>
              <p>Register New Users</p>
            </div>
          </div>
          <div class="col menu-item card mx-1">
            <div class="card-body">
              <i class="fas fa-cart-plus"></i>
              <p>Add New Products</p>
            </div>
          </div>
          <div class="col menu-item card mx-1">
            <div class="card-body">
              <i class="fas fa-users"></i>
              <p>Manage Users</p>
            </div>
          </div>
        </div>
        <div class="row my-1">
          <div class="col menu-item card mx-1">
            <div class="card-body">
              <i class="fas fa-warehouse"></i>
              <p>Inventry</p>
            </div>
          </div>
          <div class="col order-5 menu-item card mx-1">
            <div class="card-body">
              <i class="fas fa-cash-register"></i>
              <p>Cashier</p>
            </div>
          </div>
          <div class="col order-1 menu-item card mx-1">
            <div class="card-body">
              <i class="fas fa-cog"></i>
              <p>Setting</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- login modal -->
    <div class="modal">
      <div class="container mt-3">
        <div class="d-flex justify-content-center">
          <p>Please Log In</p>
        </div>
        <div class="card mx-1">
          <div class="card-body">
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
              </div>
              <button id="login" class="btn btn-primary w-100 my-1">Login</button>
              <button id="login-cancel" class="btn btn-outline-secondary w-100 my-1">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      // You can also require other files to run in this process
      require('./mainRenderer.js')
    </script>
  </body>
</html>
