<!-- inventory layout -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>My Pharmacy POS</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
        <link rel="stylesheet" href="inventory.css">
        <script src="inventory.js" data-name="item">

        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    </head>
<body>
  <div id="contents">
    <header>
      <h4 id='content-title'>Pharmacy</h4>
      <button class="btn btn-primary" id="logout" onclick="logout()">
        Logout<i class="fas fa-sign-out-alt"></i>
      </button>
    </header>
    <div class="container">

    <!-- contents -->
    <div class="card my-2 box" width = 'auto'>
      <div class="card-body">

        <!-- top nav bar -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="inventory-tab"
              data-bs-toggle="tab"
              data-bs-target="#inventory"
              type="button"
              role="tab"
              aria-controls="inventory"
              aria-selected="true">
              Inventory
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="alerts-tab"
              data-bs-toggle="tab"
              data-bs-target="#alerts"
              type="button" role="tab"
              aria-controls="alerts"
              aria-selected="false">
              Alerts<span class="badge badge-light" id="alertNumber"></span>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="search-tab"
              data-bs-toggle="tab"
              data-bs-target="#search"
              type="button" role="tab"
              aria-controls="search"
              aria-selected="false">
              Search
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="delete-tab"
              data-bs-toggle="tab"
              data-bs-target="#delete"
              type="button" role="tab"
              aria-controls="delete"
              aria-selected="false">
              Inventory Adjustment
            </button>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent">

          <!-- inventory tab -->
          <div class="tab-pane fade show active" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">

            <!-- pagination tab -->
            <div class= "container">
              <div class="row mt-2 justify-content-between">
                <div class="col-5">
                  <div class="input-group">
                    <input class="form-control search-input" id='search-input' type="text" name="" value="" placeholder="Search Items" onkeyup= "onKeyUp(event)">
                    <button onclick="filterTags()" class="mx-1 btn btn-primary" id="search-btn" type="button" name="button">Search</button>
                    <button onclick="resetFilter()" class="mx-1 btn btn-light" id="cancel-search" type="button" name="button" style='display:none'>Cancel</button>
                  </div>
                </div>
                <div class="col-5">

                  <a class="btn btn-secondary dropdown-toggle"
                    href="#" role="button"
                    id="numPersPageDropDown" data-bs-toggle="dropdown" aria-expanded="false">
                    Items per page
                  </a>

                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li onclick="changeNumPerPage(5)"><a class="dropdown-item" href="#">5</a></li>
                    <li onclick="changeNumPerPage(10)"><a class="dropdown-item" href="#">10</a></li>
                    <li onclick="changeNumPerPage(15)"><a class="dropdown-item" href="#">15</a></li>
                    <li onclick="changeNumPerPage(0)"><a class="dropdown-item" href="#">All</a></li>
                  </ul>

                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort
                  </a>

                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li onclick="changeSort('name')"><a class="dropdown-item" href="#">Category</a></li>
                    <li onclick="changeSort('expiryDateAlert')"><a class="dropdown-item" href="#">Expire Alert</a></li>
                    <li onclick="changeSort('lowQtyAlert')"><a class="dropdown-item" href="#">Quantity Alert</a></li>
                    <li onclick="changeSort('location')"><a class="dropdown-item" href="#">Location</a></li>
                  </ul>

                  <button class="btn btn-success mx-1" type="button" name="button" id="create-item" onclick="exportCSV()">
                    Export CSV
                  </button>

                  <button class="btn btn-warning text-white mx-1" id="refresh-page" onclick="refreshPage()">
                    <i class="fas fa-sync-alt"></i>
                  </button>

                </div>
              </div>
            </div>
            <!-- end of pagination -->

            <div class="card my-2 box" width = 'auto'>
              <div class="card-body" id="data-container">
                <table class="table" id="item-table">
                  <thead>
                    <col style="width: 30%;" />
                    <col style="width: 20%;" />
                    <col style="width: 15%;" />
                    <col style="width: 15%">
                    <col style="width: 20%;" />
                    <tr class="bg-primary text-white p-1">
                      <th scope="col">Category</th>
                      <th scope="col">Location</th>
                      <th scope="col">Expiry Alert</th>
                      <th scope="col">Quantity Alert</th>
                      <th scope="col">Action(s)</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
                <!-- loading spinner -->
                <div class="m-auto p-2 w-25 text-center" id="loading-spinner">
                  <div class="spinner-border text-primary text-center" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>

                <!-- pagination -->
                <nav>
                  <ul class="pagination justify-content-center mt-2" id="pagination">
                    <li class="page-item disabled" id="previous">
                      <a class="page-link" onclick="prevPaginationClick(event)" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item" id="next">
                      <a class="page-link" onclick="nextPaginationClick(event)" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
                <!-- end of pagination -->


              </div>
            </div>
          </div>
          <!-- end of inventory tab -->

          <!-- alert tab -->
          <div class="tab-pane fade" id="alerts" role="tabpanel" aria-labelledby="alerts-tab">
            <div class="card my-2 box" width = 'auto'>
              <div class="card-body">
                <div class="alert alert-warning" role="alert">
                  A simple warning alert—check it out!
                </div>
              </div>
            </div>
          </div>
          <!-- end of alert tab -->


          <!-- search all medicine tab -->
          <div class="tab-pane fade" id="search" role="tabpanel" aria-labelledby="search-tab">

            <!-- search row -->
            <div class="d-flex p-2 justify-content-start align-items-center">
              <input
                class="form-control w-25"
                type="text" placeholder="Search Medicines"
                id="search-all-meds" onkeyup= "searchAllMedsOnKey(event)"/>

              <span class="text-muted mx-2">Search Area:</span>

              <select id="search-area" class="form-control mx-1 w-25">
                <option value="tag">Category</option>
                <option value="name" selected>Description</option>
                <option value="description">Ingredients</option>
                <option value="productNumber">Product Number</option>
              </select>

              <button class="btn btn-primary mx-2" onclick="searchAllMedicines()">
                Search
              </button>
            </div>

            <!-- search results -->
            <h6 class="text-muted mt-2">Search Results:</h6>
            <div class="p-2" id="search-all-meds-result">
              <!-- search results come here -->
            </div>
          </div>
          <!-- end of search all meds -->

          <!-- create tab -->
          <div class="tab-pane fade" id="delete" role="tabpanel" aria-labelledby="delete-tab">

            <!-- create tag -->
            <div class="card my-2 box">
              <div class="card-body">
                <p><b>Create Category</b></p>
                <p style="color:red" id="error-create-category"></p>
              <form>
                <div class="row">
                <div class="form-group col-md-3">
                  <label for="inputAlertQuantity">Category Name</label>
                  <input type="text" class="form-control" id="inputCreateType" required>
                </div>
                <div class="form-group col-md-3">
                  <label for="inputAlertQuantity">Alert Quantity</label>
                  <input type="text" class="form-control" id="inputAlertQuantity" required>
                </div>
                <div class="form-group col-md-3">
                  <label for="inputAlertExpiryDate">Alert Day</label>
                  <input type="text" class="form-control" id="inputAlertExpiryDate" required>
                </div>
                <div class="form-group col-md-3">
                  <label for="inputLocation">Location</label>
                  <input type="text" class="form-control" id="inputLocation" required>
                </div>
                </div>

                <button
                  style="margin-top:15px" type="submit"
                  class="btn btn-primary" id="createType"
                  onclick="createTag(event)">
                  Create
                </button>

                </form>
              </div>
            </div>


            <!-- create/add meds -->
            <div class="card my-2 box" width = 'auto'>
              <div class="card-body">
                <p><b>Create Item</b></p>
                <p style="color:red" id="error-create-item"></p>
                <form>
                  <div class="row">
                    <div class="form-group col-md-3">
                      <label for="inputDescription">Description</label>
                      <input type="text" class="form-control" id="inputDescription" required>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="inputProductId">Product ID</label>
                      <input type="text" class="form-control" id="inputProductId" required>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="inputTag">Type</label>
                      <select id="inputTag" class="form-control" required>
                        <option selected></option>
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="inputQuantity">Quantity</label>
                      <input type="text" class="form-control" id="inputQuantity" required>
                    </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-3">
                        <label for="inputExpiryDate">Price</label>
                        <input type="text" class="form-control" id="inputPrice" required>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="inputExpiryDate">Expiry Date</label>
                        <input type="date" class="form-control" id="inputExpiryDate" required>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="inputApproved">Approved</label>
                        <select id="inputApproved" class="form-control" required>
                          <option selected></option>
                          <option>No</option>
                          <option>Yes</option>
                        </select>
                      </div>
                      <div class="form-group col-md-5">
                        <label for="inputIngredients">Ingredients</label>
                        <input type="text" class="form-control" id="inputIngredients" required>
                      </div>
                    </div>
                    <a type="submit" class="btn btn-primary mt-2"
                      id="createItem" onclick="addMedicine(event)">Add Medicine</a>

                </form>
              </div>
            </div>
          </div>
          <!-- end of creat tab -->

        </div>
      </div>
    </div>

  </div>
  <!--- alert modal -->
  <div id="alert-modal" class="my-alert-modal">
    <div class="my-alert-modal-content" id="alert-modal-content">
      <div id="alert-modal-header" class="p-2">

      </div>
      <div id="my-alert-modal-message" class="p-2">

      </div>
      <div class="d-flex justify-content-center p-1">
        <button class="btn btn-primary my-1" onclick="removeAlertModal(event)">
          Close
        </button>
      </div>
    </div>
  </div>

  </body>
</html>
