table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
  }


  table th {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 1; 
    background:lightskyblue; 
}

.rcorners {
    border-radius: 25px;
    border: 2px solid whitesmoke;
    padding: 20px; 
    overflow-y: auto;
    overflow-x: auto;  
  }