.badge {
    position: relative;
    top: -15px;
    right: -15px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
    visibility: visible
  }
header {
  background: dodgerblue;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  font-weight: bold;
  border-bottom: silver;
}

.top-header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}


.top-header h4 {
  color: dodgerblue;
}


.box {
  box-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
  border-radius: 10px;
  padding: 20px 5px;
}

.search-div {
  display: flex;
  justify-content: center;
}


.search-div input {
  padding: 5px 20px;
  border-radius: 5px;
  border: 0.6px solid gainsboro;
  outline-color: dodgerblue;
}


.search-div div {
  display: flex;
  justify-content: flex-end;
}


/* .search-div button {
  width: 100px;
  border: none;
  border-radius: 5px;
  background: dodgerblue;
  color: white;
} */

.action-button {
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.input-group>input.search-input {flex: 0 1 180px;}
.input-group>input.search-input-med {flex: 0 1 180px;}

.med-row {
  cursor: pointer;
}
