<!-- inventory layout -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>My Pharmacy POS</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
        <link rel="stylesheet" href="inventory/inventory.css">
        <script>
            function myFunction() {
              // Declare variables
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("item-search");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");
            
              // Loop through all table rows, and hide those who don't match the search query
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
            </script>
    </head>
<body>
    <table>
        <tr>
          <th>Id</th>
          <th>Description</th>
          <th>Expire Date</th>
          <th>Action</th>
          <th>View</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Panadol 1</td>
          <td>23/04/2022</td>
          <td>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Panadol 1</td>
          <td>23/04/2022</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Pandol 2</td>
          <td>23/04/2022</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Panadol 1</td>
          <td>23/04/2022</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Panadol 1</td>
          <td>23/04/2022</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Panadol 1</td>
          <td>23/04/2022</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Panadol 1</td>
            <td>23/04/2022</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Panadol 1</td>
            <td>23/04/2022</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Panadol 1</td>
            <td>23/04/2022</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Panadol 1</td>
            <td>23/04/2022</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Panadol 1</td>
            <td>23/04/2022</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Panadol 1</td>
            <td>23/04/2022</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Panadol 1</td>
            <td>23/04/2022</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Panadol 1</td>
            <td>23/04/2022</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Panadol 1</td>
            <td>23/04/2022</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Panadol 1</td>
            <td>23/04/2022</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Panadol 1</td>
            <td>23/04/2022</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Panadol 1</td>
            <td>23/04/2022</td>
            <td></td>
            <td></td>
          </tr>
      </table>
</body>
</html>