<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>My Pharmacy POS</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
        <link rel="stylesheet" href="inventory.css">
        <script src="item_detail.js" data-name="item">

        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    </head>
    <body>

        <!-- header -->
        <div class="d-flex p-2 justify-content-between align-items-center w-100 bg-light">
          <h5 class="text-muted" id="heading"></h5>
          <button class="btn btn-primary" id="dismiss-window">Close</button>
        </div>

        <div class="py-2 px-4" id="all-detail-item-contents">

          <!-- search -->
          <div class="card my-2 box">
              <div class="card-body search-div">
                <input class="w-75" id='search-input' type="text" name="" value="" placeholder="Search Items">
                <div class="w-25">
                  <button onclick="filterItems()" class="mx-1 btn btn-primary" id="search-btn" type="button" name="button">Search</button>
                  <button onclick="resetFilter()" class="mx-1 btn btn-light" id="cancel-search" type="button" name="button">Cancel</button>
                </div>
              </div>
            </div>

            <!-- contents -->
            <div class="card my-2 box" id="med-contents">
                <table class="table" id="item-details-table">
                    <thead>
                    <tr>
                      <th scope="col">Product ID</th>
                      <th scope="col">Description</th>
                      <th scope='col'>Expiry Date</th>
                      <th scope='col'>Quantity</th>
                      <th scope='col'>Approved</th>
                      <th scope='col'>Ingredients</th>
                    </tr>


                    </thead>
                    <tbody>
                        <!-- contents -->
                    </tbody>

                </table>
             <!-- <a id="dismiss-window" class="btn btn-outline-secondary w-25 my-1">Cancel</a> -->
        </div>
        </div>
        <div class="container mt-3" id="subItem-edit-box" style='display:none'>
            <div class="d-flex justify-content-center">
              <p><b>Edit Item</b></p>
            </div>
            <div id="error">

            </div>
            <div class="card mx-1">
              <div class="card-body">
                <form>
                  <div class="mb-3">
                    <label class="form-label">Product ID</label>
                    <input type="text" class="form-control" id="sub-item-id" required>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Description</label>
                    <input type="text" class="form-control" id="sub-item-description" required>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Expiry Date</label>
                    <input type="date" class="form-control" id="sub-item-expireDate" required>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Quantity</label>
                    <input type="text" class="form-control" id="sub-item-quantity" required>
                  </div>
                  <div class="mb-3">
                    <label for="inputApproved">Approved</label>
                    <select id="inputApproved" class="form-control" required>
                        <option selected></option>
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Ingredients</label>
                    <input type="text" class="form-control" id="sub-item-ingredients" required>
                  </div>
                  <button type="submit" id="edit-detail-item" class="btn btn-primary w-100 my-1">Edit</button>
                  <a id="dismiss-window" value="cancel" class="btn btn-outline-secondary w-100 my-1">Cancel</a>
                </form>
              </div>
            </div>
          </div>

        <!-- medicine details -->
        <div class="container m-2" id="med-details">
          <div class="card mt-4">
            <h5 class="text-muted">Medicine Information</h5>
            <div class="card-body">
              <form class="" action="index.html" method="post">
                <div class="row my-2">
                  <div class="col">
                    <label class="form-label">Medicine Number</label>
                    <input type="text" class="form-control" id="medNumber" readonly>
                  </div>
                  <div class="col">
                    <label class="form-label">Product Expiry</label>
                    <input type="text" class="form-control" id="medExp" readonly>
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-label">Medicine Description</label>
                  <input type="text" class="form-control" id="medDesc" readonly>
                </div>
                <div class="form-group">
                  <label class="form-label">Medicine Ingredients </label>
                  <input type="text" class="form-control" id="medIngredients" readonly>
                </div>
                <div class="row my-2">
                  <div class="col">
                    <label class="form-label">Product Price</label>
                    <input type="text" class="form-control" id="medPrice" readonly>
                  </div>
                  <div class="col">
                    <label class="form-label">Product Quantity</label>
                    <input type="text" class="form-control" id="medQty" readonly>
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col">
                    <label class="form-label">Approved By Doctor</label>
                    <input type="select" class="form-control" id="medApprove" readonly>
                  </div>
                  <div class="col">
                    <label class="form-label">Medicine Category</label>
                    <input type="text" class="form-control" id="medTag" readonly>
                  </div>
                </div>

                <div class="d-flex justify-content-start m-1">
                  <button class="btn btn-primary mx-1" id="edit-medicine">Edit</button>
                  <button class="btn btn-success mx-1" id="save-edit">Save</button>
                  <a class="btn btn-light mx-1" href="#" id="back">Back</a>
                </div>
              </form>
            </div>
          </div>
        </div>
    </body>
    </html>
