<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">

      <!-- info header -->
      <div class="top-header">
        <h4>Users</h4>
        <button type="button" name="button" id="create-user" onclick="userRenderer.createUser()">
          Create
        </button>
      </div>

      <div class="card my-2 box">
        <div class="card-body search-div">
          <input class="w-75" id='search-input' type="text" name="" value="" placeholder="Search Users">
          <div class="w-25">
            <button onclick="userRenderer.filterUsers()" class="mx-1 btn btn-primary" id="search-btn" type="button" name="button">Search</button>
            <button class="mx-1 btn btn-light" id="cancel-search" type="button" name="button">Cancel</button>
          </div>
        </div>
      </div>

      <div class="card my-2 box">
        <div class="card-body" id="data-container">
          <table class="table" id="user-table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <!-- table contents -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
  <script src="user/user.js" data-name="user">

  </script>
</html>
