<script>
  // You can also require other files to run in this process
  require('./user/user.js')
</script>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">

      <div class="alert alert-primary my-2" role="alert" id="alert">

      </div>

      <!-- info header -->
      <div class="top-header">
        <h4>Users</h4>
        <button type="button" name="button" id="create-user">
          Create
        </button>
      </div>

      <div class="card my-2 box">
        <div class="card-body search-div">
          <input class="w-75" type="text" name="" value="" placeholder="Search Users">
          <div class="w-25">
            <button type="button" name="button">Search</button>
          </div>
        </div>
      </div>

      <div class="card my-2 box">
        <div class="card-body">
          <table class="table" id="user-table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <!-- table contents -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
