.badge {
    position: relative;
    top: -15px;
    right: -15px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
    visibility: visible
  }
header {
  background: dodgerblue;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  font-weight: bold;
  border-bottom: silver;
}

.top-header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}


.top-header h4 {
  color: dodgerblue;
}


.box {
  box-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
  border-radius: 10px;
  padding: 20px 5px;
}

.search-div {
  display: flex;
  justify-content: center;
}


.search-div input {
  padding: 5px 20px;
  border-radius: 5px;
  border: 0.6px solid gainsboro;
  outline-color: dodgerblue;
}


.search-div div {
  display: flex;
  justify-content: flex-end;
}


/* .search-div button {
  width: 100px;
  border: none;
  border-radius: 5px;
  background: dodgerblue;
  color: white;
} */

.action-button {
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.input-group>input.search-input {
  outline: none;
}

.med-row {
  cursor: pointer;
}


.my-alert-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.my-alert-modal-content {
  width: 250px;
  height: fit-content;
  margin-top: 80px;
  border: none;
  border-radius: 10px;
  background-color: white;
}

.border-top-radius {
  border: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}


.hide {
  display: "none";
}

.booking-results {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.booking-results::-webkit-scrollbar {
  width: 2px;
}

.booking-results::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.booking-results::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  background-color: cornflowerblue;
}


.booking-results-container {
  width: 100%;
  height: 350px;
  background: white;
  overflow-y: scroll;
}


.search-results-container::-webkit-scrollbar {
  width: 5px;
}


.search-results-container::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}


.search-results-container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  background-color: cornflowerblue;
}
