<!-- patient layout -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bookings</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="main.css"> -->
    <link rel="stylesheet" href="bookings.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"
      integrity="sha256-XOMgUu4lWKSn8CFoJoBoGd9Q/OET+xrfGYSo+AKpFhE=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css"
      integrity="sha256-16PDMvytZTH9heHu9KBPjzrFTaoner60bnABykjNiM0=" crossorigin="anonymous">
  </head>

  <body>
    <header class="d-flex justify-content-between p-2 bg-primary">
        <h4 class="text-white" id="content-title">Bookings</h4>
        <button class="btn btn-primary" id="logout" onclick="logout()">
          Logout &nbsp;<i class="fas fa-sign-out-alt"></i>
        </button>
    </header>

    <!-- login information -->
    <div class="bg-info text-white d-flex justify-content-between py-1 px-2">
        <span>Name : &nbsp;<big id="login-name"></big></span>
        <span>Login Time: &nbsp;<big id="login-time"></big></span>
    </div>

    <!-- contents -->

    <div class="card my-2 box" width="auto">
        <div class="card-body">
           <!-- top nav bar -->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button
                  class="nav-link active"
                  id="overview-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#overview"
                  type="button"
                  role="tab"
                  aria-controls="overview"
                  aria-selected="true">
                  Overview
                </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="bookingsTable-tab"
                data-bs-toggle="tab"
                data-bs-target="#bookingsTable"
                type="button"
                role="tab"
                aria-controls="bookingsTable"
                aria-selected="false">
                Bookings
              </button>
            </li>

            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="createBookings-tab"
                data-bs-toggle="tab"
                data-bs-target="#createBookings"
                type="button"
                role="tab"
                aria-controls="createBookings"
                aria-selected="false">
                Create
              </button>
            </li>
          </ul>


          <div class="tab-content" id="myTabContent">

              <!-- overview bookings -->
              <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                <div class="card my-2 box">
                    <div class="card-body d-flex align-items-center justify-content-center">
                      <div class="w-75">
                        <div id="weekly-bookings-view"></div>
                      </div>
                    </div>
                </div>
              </div>

              <!-- bookings tab -->
              <div class="tab-pane fade" id="bookingsTable" role="tabpanel" aria-labelledby="bookingsTable-tab">
                  <!-- pagination tab -->
                  <div class="container">
                      <div class="row mt-2 justify-content-between">
                          <div class="col-5">
                              <div class="input-group">
                                  <input class="form-control search-input" id="search-input" type="text" name="" value="" placeholder="Search Bookings" onkeyup="">
                                  <button onclick="filterBookings()" class="mx-1 btn btn-primary" id="search-btn" type="button" name="button">Search</button>
                                  <button onclick="resetFilter()" class="mx-1 btn btn-light" id="cancel-search" type="button" name="button" style='display:none'>Cancel</button>
                              </div>
                          </div>
                            <div class="col-5">
                                <a class="btn btn-secondary dropdown-toggle"
                                    href="#" role="button"
                                    id="numPersPageDropDown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Bookings per page
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li onclick="changeNumPerPage(5)"><a class="dropdown-item" href="#">5</a></li>
                                    <li onclick="changeNumPerPage(10)"><a class="dropdown-item" href="#">10</a></li>
                                    <li onclick="changeNumPerPage(15)"><a class="dropdown-item" href="#">15</a></li>
                                    <li onclick="changeNumPerPage(0)"><a class="dropdown-item" href="#">All</a></li>
                                </ul>

                                <button class="btn btn-warning text-white mx-1" id="refresh-page" onclick="refreshAllBookingData()">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                            </div>
                      </div>
                  </div>

                  <div class="card my-2 box" width="auto">
                      <div class="card-body" id="data-container">
                          <table class="table" id="bookings-table">
                              <thead>
                                  <col style="width: 15%;" />
                                  <col style="width: 15%;" />
                                  <col style="width: 12%;" />
                                  <col style="width: 13%;" />
                                  <col style="width: 16%;" />
                                  <col style="width: 17%;" />
                                  <col style="width: 12%;" />
                                  <tr class="bg-primary text-white p-1">
                                      <th scope="col">ID</th>
                                      <th scope="col">Patient Name</th>
                                      <th scope="col">Patient Contact</th>
                                      <th scope="col">Booking Date</th>
                                      <th scope="col">Booking Time</th>
                                      <th scope="col">Service</th>
                                      <th scope="col">Assigned To</th>
                                  </tr>
                              </thead>

                          </table>

                          <!-- loading spinner -->
                          <div class="m-auto p-2 w-25 text-center" id="loading-spinner">
                              <div class="spinner-border text-primary text-center" role="status">
                                  <span class="sr-only">Loading...</span>
                              </div>
                          </div>
                      </div>
                      <nav>
                        <ul class="pagination justify-content-center mt-2" id="pagination2">
                          <li class="page-item disabled" id="previous">
                            <a class="page-link" onclick="prevPaginationClick(event)" href="#" tabindex="-1"aria-disabled="true">Previous</a>
                          </li>
                          <li class="page-item" id="next">
                            <a class="page-link" onclick="nextPaginationClick(event)" href="#">Next</a>
                          </li>
                        </ul>
                      </nav>
                  </div>
              </div>
              <!-- end of bookings tab -->

              <!-- create bookings tab -->
              <div class="tab-pane fade" id="createBookings" role="tabpanel" aria-labelledby="createBookings-tab">
                  <div class="card my-2 box d-flex justify-content-center align-items-center">
                      <form class="w-50">
                        <h4>Create New Booking</h4>
                        <div role="alert" id="error-alert-create-booking">

                        </div>
                        <div class="form-group mb-3">
                          <label class="form-label" for="exampleInputPassword1">Booking Date</label>
                          <input
                            type="date" class="form-control"
                            data-type='create' id="booking-date">
                        </div>
                        <div class="form-group mb-3">
                          <label class="form-label" for="time-slots">Choose Booking Time</label>
                          <select
                            data-type='create'
                            class="form-control" id="time-slots">
                            <option value="-1" selected>Choose Time Slot</option>
                          </select>
                        </div>
                        <!-- loading spinner -->
                        <div class="m-auto p-2 w-25 text-center" id="loading-spinner-create-booking">
                            <div class="spinner-border text-primary text-center" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div id="booking-info-inputs">

                          <div class="form-group mb-3">
                            <label class="form-label" for="service-select">Choose Service</label>
                            <select
                              data-type='create'
                              class="form-control" id="service-select">
                              <option value="-1" selected>Choose Service</option>
                            </select>
                          </div>

                          <div class="form-group mb-2">
                            <label class="form-label" for="exampleInputEmail1">Patient Name</label>
                            <input
                              type="text"
                              class="form-control"
                              id="patient-name"
                              data-type='create'
                              placeholder="Enter Patient Name">
                          </div>

                          <div class="form-group mb-2">
                            <label class="form-label" for="exampleInputEmail1">Patient Contact</label>
                            <input
                              type="text"
                              class="form-control"
                              id="patient-contact"
                              data-type='create'
                              placeholder="09-123456789">
                          </div>

                          <div class="form-group mb-2">
                            <label class="form-label" for="exampleInputEmail1">Staff Name</label>
                            <input
                              type="text"
                              class="form-control"
                              id="staff-name"
                              data-type='create'
                              placeholder="Enter Staff Name">
                          </div>

                          <button id="create-booking-btn"
                            type="submit" class="btn btn-primary">
                            Create
                          </button>
                        </div>
                      </form>
                  </div>
              </div>

          </div>
        </div>
    </div>
    <script src="bookings.js" data-name="bookings"></script>
  </body>
</html>
