.h-700 {
  height: 500px;
}

.empty-alert {
  height: fit-content;
  width: 100%;
  text-align: center;
}


.my-modal-container {
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}


.my-modal {
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}


.member_checkout_window {
  background: #f9f9f9;
}


.search-results {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.search-results::-webkit-scrollbar {
  width: 2px;
}

.search-results::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.search-results::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  background-color: cornflowerblue;
}


.search-results-container {
  width: 100%;
  height: 350px;
  background: white;
  overflow-y: scroll;
}


.search-results-container::-webkit-scrollbar {
  width: 5px;
}


.search-results-container::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}


.search-results-container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  background-color: cornflowerblue;
}
